main {
  position: relative;
  top: -270px;
  z-index: 0;
}

@media (max-width: 480px) {
  main {
    top: -350px;

  }
}
@import "./Popular-products";
@import "./Sets";
@import "./Custom-products";
@import "./Unique-idea";
@import "./Partners";










