.unique-idea {
  background: url(/assets/images/backgrounds/unique-bg.png) no-repeat left ;
  height: 740px;
  margin-top: 75px;

}

.unique-idea__content {
  padding-top: 130px;
  background: url(/assets/images/decorating/lamp.png) no-repeat 918px 50px,
  url(/assets/images/decorating/rocket1.png) no-repeat 709px 232px,
  url(/assets/svg/curve.svg) no-repeat 745px 395px,
  url(/assets/images/decorating/rocket2.png) no-repeat 1443px 33px;
}

.unique-idea__title {
   max-width: 556px;
  width: 100%;
  margin-bottom: 20px;
}
.unique-idea__description {
  max-width: 556px;
  width: 100%;
  margin-bottom: 80px;
}

.unique-idea__subtitle {
  max-width: 556px;
  width: 100%;
  margin-bottom: 27px;
  span {
    color: #63b9b1;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
}

.unique-idea__form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.unique-idea__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unique-idea__form-input {
  border-bottom: 1px solid $night;
  width: 100%;
  max-width: 336px;
}
.unique-idea__form-button {
  color: white;
  background-color: $aqua-green;
  padding: 19px 103px;
  border-radius: 60px;
}

@media (max-width: 1024px) {
  .unique-idea__form {
    flex-direction: column;
    gap: 36px;
  }
  .unique-idea__form-wrapper {
    flex-direction: row;
    gap: 70px;
  }
  .unique-idea__subtitle {
    max-width: 300px;
  }
  .unique-idea__content {

  background: url(/assets/images/decorating/lamp.png) no-repeat 600px -45px,
  url(/assets/images/decorating/rocket1.png)  no-repeat 570px 232px,
  url(/assets/svg/curve.svg) no-repeat 600px 340px,
  url(/assets/images/decorating/rocket2.png) no-repeat 800px 470px;
  background-size: 400px, 60px, 59px, 80px;
}

}

@media (max-width: 768px) {
  .unique-idea {
    &__title {
      width: 100%;
    }
  }


  .unique-idea__content {
    display: flex;
    flex-direction: column;
    align-items: center;
      background:
      url(/assets/images/decorating/rocket1.png)  no-repeat 650px 150px,
      url(/assets/svg/curve.svg) no-repeat 650px 260px,
      url(/assets/images/decorating/rocket2.png) no-repeat 100px 520px;
      background-size: 60px, 59px, 80px;
  }
}

@media (max-width: 480px) {
  .unique-idea {
    &__title {
     justify-content: center;
     text-align: center;
    }
    &__description {
      text-align: center;
    }
    &__form-wrapper {
      flex-direction: column;
      width: 100%;
      align-items: start;
    }
    &__subtitle {
      max-width: 100%;
    }
    &__content {
      background: none;
    }
    &__subtitle {
      font-size: 20px;
    }
  }
  .unique-idea {
    &__title {
      font-size: 24px;
  
    }
  
    &__description {
      font-size: 15px;
    
  }
}

@media (max-width: 320px) { 
}
}

