.hero {
  max-width: 700px;
  width: 100%;
  position: absolute;
  top: 324px;
}

.preferences {
  display: flex;
  justify-content: space-between;
  li {
    text-align: center;
    display: inline-block;
    width: 229px;

  }
}

.hero__title {
  font-family: 'Gilroy';
  text-transform: uppercase;
  color: $night;
  margin-bottom: 8px;
}

.hero__text {
  color: $night;
  font-weight: 400;
  margin-bottom: 58px;
  padding-right: 150px;
}

.advantages-text {
  font-weight: 600;
  font-size: 22px;
}

.advantages-text__highlight {
  font-weight: 800;
  font-size: 22px;
}






