header {

  height: 1042px;
  background-position: center top;
  background-repeat: no-repeat;
}

.header--main {
  background: 
  url('/assets/images/backgrounds/home-bg.png') no-repeat 45.469vw 200px,
  url('/assets/images/backgrounds/header-bg.png');
}

@media (max-width: 1024px) {
  .header--main {
    background-position: 350px 180px, 0px 0px; 
  }
}


@import './Top-bar';
@import "./Nav";
@import "./hero";
