header {
  z-index: 10;
  height: 1042px;
  background-position: center top;
  background-repeat: no-repeat;
}

.header--main {
  background: 
  url('../../../assets/images/backgrounds/home-bg.png') no-repeat 45.469vw 200px,
  url('../../../assets/images/backgrounds/header-bg.png');
}

@media (max-width: 1024px) {
  .header--main {
    background-position: 350px 180px, 0px 0px; 
  }
}

@media (max-width: 768px) {
  .header--main {
    background-position: 60px 180px, 0px 0px; 
  }
}

@media (max-width: 480px) {
  .header--main {
  background: url('../../../assets/images/backgrounds/header-bg480.png') no-repeat 40vw 320px,
  url('../../../assets/images/backgrounds/header-bg.png');
  }
}

.header--info {
  background: 
  url(../../../assets/images/backgrounds/bg\ \(2\).png) no-repeat left 750px,
  url(../../../assets/images/backgrounds/info-bg.png) no-repeat 90% 216px,
  url(../../../assets/images/backgrounds/header-bg.png) no-repeat left top; 
  margin-bottom: 100px;
}

@media (max-width: 1559px) {
  .header--info {

    background: 
    url(../../../assets/images/backgrounds/bg\ \(2\).png) no-repeat left 750px,
    url(../../../assets/images/backgrounds/info-bg.png) no-repeat 520px 216px,
    url(../../../assets/images/backgrounds/header-bg.png) no-repeat left top; 
  }
}
@media (max-width: 768px) {
  .header--info {

    background: 
    url(../../../assets/images/backgrounds/bg\ \(2\).png) no-repeat left 750px,
    url(../../../assets/images/backgrounds/info-bg.png) no-repeat left 300px,
    url(../../../assets/images/backgrounds/header-bg.png) no-repeat left top; 
  }
}
@media (max-width: 482px) {
  .header--info {

    background: 
    url(../../../assets/images/backgrounds/bg\ \(2\).png) no-repeat left 900px,
    url(../../../assets/images/backgrounds/info-bg.png) no-repeat left 400px,
    url(../../../assets/images/backgrounds/header-bg.png) no-repeat left top; 
  }
}



@import './Top-bar';
@import "./Nav";
@import "./hero";
