header {
  z-index: 10;
  height: 1042px;
  background-position: center top;
  background-repeat: no-repeat;
}

.header--main {
  background: 
  url('/assets/images/backgrounds/home-bg.png') no-repeat 45.469vw 200px,
  url('/assets/images/backgrounds/header-bg.png');
}

@media (max-width: 1024px) {
  .header--main {
    background-position: 350px 180px, 0px 0px; 
  }
}

@media (max-width: 768px) {
  .header--main {
    background-position: 60px 180px, 0px 0px; 
  }
}

@media (max-width: 480px) {
  .header--main {
  background: url('/assets/images/backgrounds/header-bg480.png') no-repeat 40vw 320px,
  url('/assets/images/backgrounds/header-bg.png');
  }
}




@import './Top-bar';
@import "./Nav";
@import "./hero";
