// Gilroy - Regular
@font-face {
  font-family: 'Gilroy';
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

// Gilroy - Medium
@font-face {
  font-family: 'Gilroy';
  src: url(../../assets/fonts/Gilroy-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

// Gilroy - SemiBold
@font-face {
  font-family: 'Gilroy';
  src: url(../../assets/fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

// Gilroy - Bold
@font-face {
  font-family: 'Gilroy';
  src: url(../../assets/fonts/Gilroy-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

// Gilroy - ExtraBold
@font-face {
  font-family: 'Gilroy';
  src: url(../../assets/fonts/Gilroy-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

// Gilroy - Black
@font-face {
  font-family: 'Gilroy';
  src: url(../../assets/fonts/Gilroy-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

// Neutraface Display - Titling
@font-face {
  font-family: "Neutraface Display";
  src: url(/assets/fonts/Neutraface_Display_Titling.ttf);
  font-weight: 900;
  font-style: normal;
}

// Pangolin - regular
@font-face {
  font-family: "Pangolin";
  src: url(/assets/fonts/Pangolin-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

//  Neomatric - heavy
@font-face {
  font-family: "Neometric";
  src: url(/assets/fonts/Neometric\ Heavy.otf);
  font-weight: 900;
  font-style: normal;
}
