$small-border-radius: 6px;
$big-border-radius: 15px;
$black: #000;
$night: #272525;
$milk: #FAFBFD;
$snow: #FAFAFA;
$white: #EEF1F6;
$dark-purple: #3C336C;
$aqua-green: #1FAB8A;
$smoke: #8E8E8E;
$dark-smoke: #454747;
$main-linear-gradient: linear-gradient(35deg, rgba(151,150,240,1) 0%, rgba(255,224,232,1) 100%);
